name: Terraform CI Workflow

on:
  pull_request:
    branches: main

defaults:
  run:
    working-directory: .

jobs:
  terraform-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: '1.1.7'

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4
        with:
          tflint_version: v0.52.0

      - name: Run TFLint
        run: tflint --recursive

      - name: Run Terraform Format Check
        run: terraform fmt -check -recursive